<div id="map"></div>
<div id="overlay"></div>
<div id="directions-dialog">
    <div id="directions-form-wrapper">
        <div class="ok-columns">
            <div id="logo-container" class="ok-col">
                <img src="/assets/ie-logo.png" />
            </div>
            <div id="directions-container" class="ok-col">
                <directions-form></directions-form>
            </div>
        </div>
    </div>
    <div id="directions-list-wrapper">
        <md-progress-bar *ngIf="inProgress" mode="indeterminate"></md-progress-bar>
        <div id="directions-scroller">
            <div id="directions-panel-wrapper">
                <div id="directions-data"></div>
            </div>
        </div>
    </div>
</div>